# Telegram Config
TELEGRAM_BOT_TOKEN=
TELEGRAM_API=0
TELEGRAM_HASH=
TELEGRAM_OWNER_ID=0
TELEGRAM_USER_SESSION_STRING=
TELEGRAM_HELPER_TOKENS=
TELEGRAM_PROXY=
TELEGRAM_BASE_URL=
TELEGRAM_BOT_USERNAME=
TELEGRAM_HYDRA_IP=
TELEGRAM_HYDRA_API_KEY=
TELEGRAM_CMD_SUFFIX=
TELEGRAM_DEFAULT_LANG=en
TELEGRAM_TIMEZONE=Asia/Kolkata
TELEGRAM_AUTHORIZED_CHATS=
TELEGRAM_SUDO_USERS=

# Database Config
DB_DATABASE_URL=
DB_MONGO_DB_NAME=wzmlx
DB_DATABASE_CLIENT=mongodb

# Limits Config
LIMIT_MAX_WORKERS=4
LIMIT_API_HOST=0.0.0.0
LIMIT_API_PORT=8080
LIMIT_DIRECT=0
LIMIT_MEGA=0
LIMIT_TORRENT=0
LIMIT_GD_DL=0
LIMIT_RC_DL=0
LIMIT_CLONE=0
LIMIT_JD=0
LIMIT_NZB=0
LIMIT_YTDLP=0
LIMIT_PLAYLIST=0
LIMIT_LEECH=0
LIMIT_EXTRACT=0
LIMIT_ARCHIVE=0
LIMIT_STORAGE=0
LIMIT_BOT_MAX_TASKS=0
LIMIT_USER_MAX_TASKS=0
LIMIT_USER_TIME_INTERVAL=0
LIMIT_VERIFY_TIMEOUT=0
LIMIT_STATUS_LIMIT=10
LIMIT_STATUS_UPDATE_INTERVAL=15
LIMIT_QUEUE_ALL=0
LIMIT_QUEUE_DOWNLOAD=0
LIMIT_QUEUE_UPLOAD=0
LIMIT_TORRENT_TIMEOUT=0
LIMIT_BASE_URL_PORT=0
LIMIT_WEB_PINCODE=true
LIMIT_DEFAULT_UPLOAD=rc

# Bot Settings
BOT_BOT_PM=false
BOT_SET_COMMANDS=true
BOT_INCOMPLETE_TASK_NOTIFIER=false

# GDrive Config
GDRIVE_GDRIVE_ID=
GDRIVE_GD_DESP=Uploaded with WZ Bot
GDRIVE_IS_TEAM_DRIVE=false
GDRIVE_STOP_DUPLICATE=false
GDRIVE_INDEX_URL=
GDRIVE_USE_SERVICE_ACCOUNTS=false

# Rclone Config
RCLONE_RCLONE_PATH=
RCLONE_RCLONE_FLAGS=
RCLONE_RCLONE_SERVE_URL=
RCLONE_SHOW_CLOUD_LINK=true
RCLONE_RCLONE_SERVE_PORT=0
RCLONE_RCLONE_SERVE_USER=
RCLONE_RCLONE_SERVE_PASS=

# Mega Config
MEGA_MEGA_EMAIL=
MEGA_MEGA_PASSWORD=

# JDownloader Config
JD_JD_EMAIL=
JD_JD_PASS=

# Leech Config
LEECH_LEECH_SPLIT_SIZE=0
LEECH_AS_DOCUMENT=false
LEECH_EQUAL_SPLITS=false
LEECH_MEDIA_GROUP=false
LEECH_USER_TRANSMISSION=true
LEECH_HYBRID_LEECH=true
LEECH_LEECH_PREFIX=
LEECH_LEECH_SUFFIX=
LEECH_DELETE_LINKS=false

# Logs Config
LOG_LEECH_DUMP_CHAT=0
LOG_LINKS_LOG_ID=0
LOG_MIRROR_LOG_ID=0
LOG_CLEAN_LOG_MSG=false

# RSS Config
RSS_RSS_DELAY=600
RSS_RSS_CHAT=0
RSS_RSS_SIZE_LIMIT=0

# Search Config
SEARCH_SEARCH_API_LINK=
SEARCH_SEARCH_LIMIT=0
SEARCH_FILELION_API=
SEARCH_STREAMWISH_API=
SEARCH_INSTADL_API=

# Disable Config
DISABLE_TORRENTS=false
DISABLE_LEECH=false
DISABLE_BULK=false
DISABLE_MULTI=false
DISABLE_SEED=false
DISABLE_FF_MODE=false

# Telegraph Config
TELEGRAPH_AUTHOR_NAME=WZML-X
TELEGRAPH_AUTHOR_URL=https://t.me/WZML_X

# YT Config
YT_YT_DESP=Uploaded to YouTube by WZML-X bot
YT_YT_TAGS=telegram,bot,youtube
YT_YT_CATEGORY_ID=22
YT_YT_PRIVACY_STATUS=unlisted

# Update Config
UPDATE_UPSTREAM_REPO=
UPDATE_UPSTREAM_BRANCH=master
UPDATE_UPDATE_PKGS=true